.button{
    display: flex;
    height: 4em;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 1.4rem;
    background-color: #e0e1e6;
    color: black;
    outline: 1px solid black;
}
.operator{
    background-color: #880E4F;
    color: white
}